<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.loqu8.sqlite_net_tests_forms">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="SQLite.Net.Tests.Forms">
	</application>
</manifest>
